body {
  font-family: "Noto Sans JP", sans-serif;
  max-width: 1280px;
  color: #333;
  margin: 0 auto;
}

a {
  color: #333;
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  &-btn {
    margin-top: 14px;
  }
}

.main {
  img {
    max-width: 100%;
  }
  &-btn {
    padding: 2% 0 4%;
    text-align: center;
  }
}

.problem {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3%;
  }
}

.menter {
  .container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
  }
  &-btn {
    padding: 3% 0 6%;
    text-align: center;
  }
}

.footer {
  height: 80px;
  background: #ffff4b;
  display: flex;
  justify-content: center;
  align-items: center;
    img {
      height: 75px;
    }
}     

.narrow-down {
  .container {
    position: relative;
      .position-left{
        position: absolute;
        top: 0;
        left: 0;
      }
      .position-right {
        position: absolute;
        right: 0%;
        bottom: -8%;
      }
      .logo {
        text-align: center;
      }
      .narrow-down-text {
        margin: 0 6% 10%;
          .narrow-down-text-container {
            display: flex;
          }
          .narrow-down-img-container {
            display: flex;
            justify-content: center;
          }
      }
  }
}
.main,
.problem,
.agitation,
.narrow-down {
  margin-bottom: 25vh;
}

.fd-in {
  opacity: 0;
  transform: translate(0, 60px);
  -webkit-transform: translate(0, 60px);
}

.fd-done {
  opacity: 1.0;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}

section,
.narrow-down-img-container {
  overflow: hidden;
  transition: .8s;
}